{
    "printWidth": 160,
    "singleQuote": true,
    "trailingComma": "none",
    "semi": false,
    "tabWidth": 4,
    "overrides": [
        {
            "files": ["*.md", "*.mdx", "*.yaml"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
