---
import BaseLayout from '../layouts/BaseLayout.astro'
import { Button, Hero, PostPreview, ProjectPreview } from '@components/.'
---

<BaseLayout showHeader={false}>
    <div class="border-2 border-blue-300">
        you
    </div>
</BaseLayout>
