---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro'
import { Tabs, TabItem } from '@astrojs/starlight/components'
---

<StarlightPage
    frontmatter={{ title: 'Orion' }}
    sidebar={[
        { label: 'Home', href: '/' },
        {
            label: 'Constellations',
            items: [
                { label: 'Andromeda', href: '/andromeda/' },
                { label: 'Orion', href: '/orion/', isCurrent: true },
                { label: 'Ursa Minor', href: '/ursa-minor/', badge: 'Stub' }
            ]
        }
    ]}
    ,
    hasSidebar={true}
    ,
>
    Example content.
    <div>
        inside div
        <h1>content</h1>
    </div>

    _Some stars:_

    <Tabs syncKey="constellations">
        <TabItem label="Orion">Bellatrix, Rigel, Betelgeuse</TabItem>
        <TabItem label="Gemini">Pollux, Castor A, Castor B</TabItem>
    </Tabs>

    _Some exoplanets:_

    <Tabs syncKey="constellations">
        <TabItem label="Orion">HD 34445 b, Gliese 179 b, Wasp-82 b</TabItem>
        <TabItem label="Gemini">Pollux b, HAT-P-24b, HD 50554 b</TabItem>
    </Tabs>
</StarlightPage>
